@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}
img {
  max-width: 100%;
  height:auto;
}
.frontSlide {
  height: 100vh;
  background-color:black;
  /* display: flex; */

}

.frontSlide img {
  position: absolute;
bottom:20px;}

.bgdark2 {
  background-color:black;
  z-index:2;
}

.homeUs {
  min-height:50vh;
  background-color:#f8f8f8;
  font-size: 25px;
  font-weight:700;
}


.homeUs  {
  display: flex;
  align-items: center;
}
.homeUs p{

  font-size: 25px;
  font-weight:700;
}

.homeClients  {
  display: flex;
  align-items: center;
}
.homeUs {
  min-height:50vh;
  background-color:#f8f8f8;
  font-size: 25px;
  font-weight:700;
}


footer {
  background-color:black;
  color:#f4f4f4;
}
