@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}
img {
  max-width: 100%;
  height:auto;
}
.frontSlide {
  height: 100vh;
  background-color:black;
  /* display: flex; */

}

.frontSlide img {
  position: absolute;
bottom:20px;}

.bgdark2 {
  background-color:black;
  z-index:2;
}

.homeUs {
  min-height:50vh;
  background-color:#f8f8f8;
  font-size: 25px;
  font-weight:700;
}

.navbar a {
  color:white;
  text-decoration:none;
  transition:ease .5s
  }
  
  .navbar a:hover {
  color:lightgrey;
  text-decoration:none;
  }

.homeUs  {
  display: flex;
  align-items: center;
}
.homeUs p{

  font-size: 25px;
  font-weight:500;
}

.homeUs h3{

  font-size: 45px;
  font-weight:800;
}

.homeClients  {
  background-color:#f8f8f8;
  display: flex;
  align-items: center;
}
.homeUs {
  min-height:50vh;
  background-color:#f8f8f8;
  font-size: 25px;
  font-weight:700;
}


footer {
  background-color:black;
  color:#f4f4f4;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width:100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}


.containerimg:hover .overlay {
  opacity: 1;

}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.proyectos, .contacto {
  min-height: 75vh;
}
.proyectos .col-lg-4 {
 padding:0 !important; 
 margin-bottom:20px;
}

.proyectos h2 {
  font-size:20px;
  }